@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Passion+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  background-color: #000;
  height: 70vh;
  position: relative;
}
body .blur {
  position: absolute;
  width: 50%;
}
body .blur2 {
  right: 0vw;
  height: 100%;
}
body .blur1 {
  height: 100%;
  top: 43%;
  left: 0%;
}

header {
  height: 120px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header nav :hover {
  border-color: #a488e8;
  transition: 0.5s;
}
header #cafe {
  z-index: 100000;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
header #cafe :hover {
  background-color: #a488e8;
}
header h2 {
  color: white;
  width: 70%;
  display: none;
}
header #menu-btn {
  display: none;
}
header .menu__nav {
  list-style: none;
  display: flex;
  gap: 40px;
}
header a {
  z-index: 10000;
  text-decoration: none;
  color: #FFF;
}
header button {
  z-index: 1000000;
  background-color: transparent;
  border: 2px solid #8257E5;
  border-radius: 8px;
  height: 40px;
  width: 60px;
  color: #FFF;
  cursor: pointer;
  text-transform: uppercase;
}

main {
  height: calc(100vh - 120px);
  position: block;
  color: white;
  display: flex;
  flex-direction: column;
}
main #text {
  font-size: 2rem;
  margin: 2rem;
  display: none;
}
main h1 {
  z-index: 1000;
  font-family: "Manrope", sans-serif;
  font-size: 4rem;
  text-align: center;
}
main .special {
  text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
  color: black;
}
main div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 294px);
}
main .coffee {
  z-index: 1000;
  width: 55.18%;
  height: 100%;
}

@media screen and (max-width: 855px) {
  header #logo-nome {
    position: relative;
    left: 29vw;
    top: 1vw;
  }
  header div .header__logo {
    display: none;
  }
  header div h2 {
    display: block;
  }
  header .navigation {
    position: relative;
    left: 40vw;
  }
  header .navigation nav {
    height: 4vh;
  }
  header .navigation #menu-btn {
    display: block;
    position: relative;
  }
  header .menu__nav {
    z-index: 9000099990000;
    display: flex;
    flex-direction: column;
    position: relative;
    top: 25px;
    right: 39%;
    width: 50vw;
    height: 60vh;
    text-align: center;
    text-shadow: -1px -1px 0 #8257E5, 1px -1px 0 #8257E5, -1px 1px 0 #8257E5, 1px 1px 0 #8257E5;
    color: gray;
    background-color: black;
    border: 2px solid #8257E5;
    border-radius: 8px;
    text-transform: uppercase;
    font-weight: bold;
    gap: 0px;
  }
  header .menu__nav li {
    height: 20%;
  }
  header .menu__nav li :hover {
    background-color: #a488e8;
  }
  header .menu__nav a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  header #cafe {
    position: relative;
    top: 350px;
    right: 31vw;
  }

  main div {
    width: 61%;
    height: 100%;
    margin: auto;
  }
  main div #text {
    display: block;
    text-align: justify;
    font-size: 1.6rem;
    color: #8257E5;
    font-weight: bold;
  }
  main div .coffee {
    display: flex;
    width: 500px;
    height: 100%;
    z-index: 1000000;
  }
  main .d {
    margin-top: 150px;
    font-size: 3rem;
  }
  main .special {
    font-size: 3rem;
  }

  body {
    overflow-x: hidden;
  }
  body .blur {
    display: block;
  }
  body .blur2 {
    display: none;
  }
  body .blur1 {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
