@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');

$fundo: #000;
$text-color: #FFF;
$btn-color: #8257E5;
$border-color: #29292E;
$border-menu-mobile: #A8A8B3;
$text-color-menu-mobile: #E1E1E6;
$fonte: 'Manrope', sans-serif;
$fonte-grande: 'Manrope', sans-serif;